<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>brand</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/brand.css">
</head>
<body>
	<%- include("header") %>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header col-md-4">
				<button type="button" class="navbar-toggle collapsed navigation" data-toggle="collapse" data-target="#nav2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<!-- <div class="logo navbar-brand">
					<img src="images/logo.png">
					<div>
						<h3>新能源汽车</h3>
						<span>New energy cars</span>
					</div>
				</div> -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="nav2 collapse navbar-collapse col-md-8" id="nav2">
				<ul class="menu nav navbar-nav text-center">
		   	  		<li class="img-circle"><a href="javascript:void(0)">公司介绍</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">企业文化</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">资质荣誉</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">人才招聘</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">联系我们</a></li>
		   		</ul>
			</div>
		</div>
	</div>

	<div class="container brand">
		

		
		<div class="about row">
		 	

		 	<div class="col-md-6 col-xs-12">
		 		<h3>公司简介About Us</h3>
		 		<p>山东集团新能源汽车有限公司坐落于山东德州陵城经济开发区迎宾街66号，公司成立于2011年1月，注册资金3亿元，占地面积1000余亩；公司产业园区建有冲压、焊装、涂装、总装全自动汽车四大生产工艺车间，产品60%以上的部件已实现自制，已具备了年产30万辆纯电动汽车的生产能力。2015年7月隆鑫通用全面注资，集团汽车成为行业**上海主板上市公司控投企业山东集团新能源汽车有限公司，是山东汽车行业协会小型电动车分会会长级单位山东省6家小型电动汽车骨干制造企业之一，中国第一批新能源小型电动汽车制造企业。集团A01产品在行业率先通过了欧盟EEC安全认证，国家机动车产品监督检验中心50公里/小时正面安全碰撞试验。</p>
		 	</div>


		 	<div class="col-md-6">
		 		<img src="images/base-construction1.jpg" class="col-md-12 col-xs-12 img-t">
		 	</div>

		</div>

		<div class="about row">
		 	

		 	<div class="col-md-6 col-xs-12">
		 		<h3>企业文化Corporate Culture</h3>
		 		<p>企业愿景：成为技术领先的四轮低速电动车榜样企业。</p>
		 		<p>企业使命：为消费者提供更优质的产品，不断改善人们的生活质量。</p>
		 		<p>企业核心价值观：扎实、创新、速度、开放、诚信。</p>
		 		<p>企业营销理念：用户第一、经销商第二、制造商第三。</p>
		 		<p>企业服务理念：让客户满意、给客户惊喜、令客户感动。</p>
		 	</div>


		 	<div class="col-md-6">
		 		<img src="images/base-construction2.jpg" class="col-md-12 col-xs-12 img-t">
		 	</div>

		</div>

	
		
		<div class="honor">
			<h3>资质荣誉Honor</h3>
			<ul>
				<li class="col-md-3 col-md-offset-1 col-xs-12"><a href="javascript:void(0)"><img src="images/honor_8.jpg" class="col-md-12 col-xs-12"></a><span><a href="javascript:void(0)"><strong>高新技术产业</strong></a></span></li>
				<li class="col-md-3 col-md-offset-1 col-xs-12"><a href="javascript:void(0)"><img src="images/honor_6.jpg" class="col-md-12 col-xs-12"></a><span><a href="javascript:void(0)"><strong>高新技术产业</strong></a></span></li>
				<li class="col-md-3 col-md-offset-1 col-xs-12"><a href="javascript:void(0)"><img src="images/honor_8.jpg" class="col-md-12 col-xs-12"></a><span><a href="javascript:void(0)"><strong>高新技术产业</strong></a></span></li>
			</ul>
		</div>

		<div class="recruit">
			<h3>人才招聘Talent recruitment</h3>
			<ul class="col-md-6">
				<li><strong>工业设计</strong></li>
				<li>职责要求：</li>
				<li>1.以笔译为主，文件资料的翻译及游戏资料的汉化；</li>
				<li>2.韩语资料、稿件的专有术语、词汇的收集整理；</li>
				<li>3.其他相关工作。</li>
				<li>任职要求：</li>
				<li>1. 大学本科以上学历，韩语专业或朝鲜族，韩语能力Topic高级，具备扎实的中文基础，中文及韩文的语言组织和书面表达能力较强；</li>
				<li>2. 热爱韩语翻译工作，翻译准确，行文规范、流畅；</li>
				<li>3. 工作认真、负有责任心、具有团队沟通能力和吃苦耐劳精神；</li>
				<li>4. 熟练掌握计算机操件基本知识；</li>
				<li>5. 熟知游戏词汇，熟悉韩文外来语及英语者优先考虑。</li>
			</ul>
			<ul class="col-md-6">
				<li><strong>技术工人</strong></li>
				<li>职责要求：</li>
				<li>1.以笔译为主，文件资料的翻译及游戏资料的汉化；</li>
				<li>2.韩语资料、稿件的专有术语、词汇的收集整理；</li>
				<li>3.其他相关工作。</li>
				<li>任职要求：</li>
				<li>1. 大学本科以上学历，韩语专业或朝鲜族，韩语能力Topic高级，具备扎实的中文基础，中文及韩文的语言组织和书面表达能力较强；</li>
				<li>2. 热爱韩语翻译工作，翻译准确，行文规范、流畅；</li>
				<li>3. 工作认真、负有责任心、具有团队沟通能力和吃苦耐劳精神；</li>
				<li>4. 熟练掌握计算机操件基本知识；</li>
				<li>5. 熟知游戏词汇，熟悉韩文外来语及英语者优先考虑。</li>
			</ul>
		</div>
		

	</div>
	<%- include("footer") %>
</body>
</html>