<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/business.css">
</head>
<body>
	<%- include("header") %>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header col-md-4">
				<button type="button" class="navbar-toggle collapsed navigation" data-toggle="collapse" data-target="#nav2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<!-- <div class="logo navbar-brand">
					<img src="images/logo.png">
					<div>
						<h3>新能源汽车</h3>
						<span>New energy cars</span>
					</div>
				</div> -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="nav2 collapse navbar-collapse col-md-8" id="nav2">
				<ul class="menu nav navbar-nav text-center">
		   	  		<li class="img-circle"><a href="javascript:void(0)">售后服务</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">养护知识</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">服务理念</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">预约试驾</a></li>
		   		</ul>
			</div>
		</div>
	</div>

	<div class="container business">
		<div class="business-title">
			<h3>把握机会、选择我们</h3>
			<p>集团电动携手世界交流电机、电控巨头——韩国Vctech公司和德国红点国际设计大师——董瑞丰，在小型电动汽车领域，将“原创、时尚、安全”演绎到极致，集团电动将与广大经销商朋友们携手努力，共同精耕市场，把集团品牌做大、做强，扛起中国电动汽车原创、领军大旗。 </p>
		</div>
		<div class="business-condition">
			<h3>加盟条件</h3>
			<dl>
				<dt>硬件要求：</dt>
				<dd>1、具有独立法人资格、独立纳税主体销售运营公司。</dd>
				<dd>2、不低于50万元（人民币）的专项运作资金且封闭运作。</dd>
				<dd>3、不少于50-200平方米的独立形象终端店面及售后服务部场所（店面形象按山东集团汽车公司提供的统一店面形象标准装修建设成为集团电动的旗舰店、专卖店、标准店）。</dd>
				<dd>4、不少于3名有经验的销售业务人员、2名有电动机车维修经验的服务技师。</dd>
				<dd>5、签订集团电动系列产品销售服务协议并按规定交纳市场保证金。</dd>
				<dt>软件要求：</dt>
				<dd>1、具有良好的商业信誉，银行信贷无不良记录，无重大用户投诉事件；</dd>
				<dd>2、 企业法人或者管理者拥有在相关行业2年以上的销售与服务经验，具有先进的经营理念；</dd>
				<dd>3、在当地有良好的社会关系，可以方便地为客户提供代理较为完善的服务，能妥善解决用户投诉问题；</dd>
				<dd>4、经营团队具有良好的客户服务意t识和管理经验。</dd>
			</dl>
			<h3>加盟电话：400-XXXX-000</h3>
		</div>
		<div class="links text-center">
			
			<a class="btn btn-success">我要加盟</a>
			<a class="btn btn-success">下载资料</a>
		</div>
	</div>
	<%- include("footer") %>
</body>
</html>