<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/contact.css">
</head>
<body>
	<%- include("header") %>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header col-md-4">
				<button type="button" class="navbar-toggle collapsed navigation" data-toggle="collapse" data-target="#nav2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<!-- <div class="logo navbar-brand">
					<img src="images/logo.png">
					<div>
						<h3>新能源汽车</h3>
						<span>New energy cars</span>
					</div>
				</div> -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="nav2 collapse navbar-collapse col-md-8" id="nav2">
				<ul class="menu nav navbar-nav text-center">
		   	  		<li class="img-circle"><a href="javascript:void(0)">公司介绍</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">企业文化</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">资质荣誉</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">人才招聘</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">联系我们</a></li>
		   		</ul>
			</div>
		</div>
	</div>

	<div class="container text-center contact">
		<ul class="col-md-3">
			<li><img src="images/add.png"></li>
			<li>总部地址</li>
			<li>山东省济南市高新区XX路1XX88号</li>
		</ul>
		<ul class="col-md-3">
			<li><img src="images/tel.png"></li>
			<li>联系电话</li>
			<li>400-1XXX-XXX</li>
		</ul>
		<ul class="col-md-3">
			<li><img src="images/mail.png"></li>
			<li>电子邮箱</li>
			<li>baoya@bXXXa-ev.com</li>
		</ul>
		<ul class="col-md-3">
			<li><img src="images/fax.png"></li>
			<li>集团传真</li>
			<li>0531-XXXXXXXX</li>
		</ul>
	</div>


	<%- include("footer") %>
</body>
</html>