<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/dist/css/swiper-4.2.0.min.css">
	<link rel="stylesheet" type="text/css" href="/dist/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/dist/css/endtoend.css">
</head>
<body>

	<div class="footer">
		<div class="container footer1">
			<div class="lianxi col-md-4">
				<h3>联系我们</h3>
				<p>中国 · 山东 · 潍坊 · 昌乐XXX国道XX工业园</p>
				<p>官方网址：www.xxxxxx.com</p>
				<p>全国服务电话：400-XX0-5111</p>
				<p>加盟热线： 0536-66XXX66</p>
				<a class="btn btn-success">联系我们</a>
			</div>
			<div class="objective col-md-4 text-center">
				<h3>专注绿色动力，贡献环保事业</h3>
				<img src="/images/qr-wechat.jpg" class="col-md-5 img-thumbnail">
				<img src="/images/qr-mobile.jpg" class="col-md-5 col-md-offset-2 img-thumbnail">
				<p class="col-md-6">微信公众号</p>
				<p class="col-md-6">移动端公众号</p>
			</div>
			<div class="map col-md-4">
				<h3>地图声明</h3>
				<img src="/images/map.png" class="col-xs-12">
			</div>
		</div>
		<div class="banquan container text-center">
			<span>Copyright © 2009-2011,www.yourname.com,All rights reserved &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>版权所有 © 您的网站名称 未经许可 严禁复制 沪ICP备XXXXXX号
		</div>
	</div>



	<script type="text/javascript" src="/dist/js/jquery.min.js"></script>
	<script type="text/javascript" src="/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/dist/js/swiper-4.2.0.min.js"></script>
	<script type="text/javascript" src="/dist/js/swiper.animate1.0.3.min.js"></script>
	<script type="text/javascript" src="/dist/js/index.js"></script>
</body>
</html>