<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/index.css">
</head>
<body>
	<%- include("header") %>
	<div class="news text-center">
		<h2>新闻&活动</h2>
		<div class="separate col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1"></div>
		<div class="introduce col-md-6 col-md-offset-3 col-xs-12">
			<p>“Liability Technology Future ”责任、科技、未来是雷丁自成立之日起，坚定奉行的品牌愿景</p>
			<p>致力于打造国民电动汽车高端品牌，造老百姓买得起的国民用车。</p>
			<a href="/news" class="btn btn-info col-md-offset-10 col-xs-offset-8">最新动态</a>
		</div>
	</div>

	<div class="cars">
		<ul class="container img">
			<li><a href="javascript:void(0)"><img src="/images/news-active1.jpg" class="col-md-4 col-xs-12"></a></li>
			<li><a href="javascript:void(0)"><img src="/images/news-active2.jpg" class="col-md-4 col-xs-12"></a></li>
			<li><a href="javascript:void(0)"><img src="/images/news-active3.jpg" class="col-md-4 col-xs-12"></a></li>
		</ul>
		<!-- <ul class="container tip">
			<li class="col-md-4"><a href="javascript:void(0)">如何从发动机的机油颜色判断机油是否正常？</a></li>
			<li class="col-md-4"><a href="javascript:void(0)">如何从发动机的机油颜色判断机油是否正常？</a></li>
			<li class="col-md-4 aa"><a href="javascript:void(0)">如何从发动机的机油颜色判断机油是否正常？</a></li>
		</ul> -->
	</div>

	<div class="yabei1 container" id="yabei1">
		<img src="/images/car-yabei01.png" class="col-md-5 col-xs-12" swiper-animate-effect="bounceInLeft" swiper-animate-duration="3s">
		<div class="col-md-6 col-md-offset-1 col-xs-12 text-left">
			<h3>2017款雅贝</h3>
			<h3>移动的钢铁堡垒</h3>
			<p>国内首批通过国家质量监督检测中心碰撞安全测试</p>
			<p>国内首创电动助力系统</p>
			<p>3H高钢性车身结构 辅以高强度钢板 4R级安全系统</p>
			<a class="btn btn-success" href="/product">了解产品</a>
		</div>
	</div>


	<div class="yabei1 container" id="yabei2">
		<div class="col-md-6 col-md-offset-1 col-xs-12 text-left">
			<h3>2017款雅贝</h3>
			<h3>智能驱动 大有作为</h3>
			<p>时尚完美造型，个性独特。细致入微的关怀，</p>
			<p>为每一次出行增加光彩，</p>
			<p>释放自由。自由如我，让生活绽放精彩。</p>
			<a class="btn btn-success" href="/product">了解产品</a>
		</div>
		<div class="swiper-slide yabei02">
			<img src="/images/car-yabei02.png" class="col-md-5 col-xs-12 ">
		</div>
		
	</div>


	<div class="yabei1 container" id="yabei3">
		<img src="/images/car-yabei03.png" class="col-md-5 col-xs-12">
		<div class="col-md-6 col-md-offset-1 col-xs-12 text-left">
			<h3>2017款雅贝</h3>
			<h3>有形更有空间</h3>
			<p>欧系风格外观，精细雕琢的细节，独到人性化设计，</p>
			<p>极致的生活出行新体验，D50，</p>
			<p>雷丁新一代两厢电动汽车，彰显驾驭每一秒的无穷魅力。</p>
			<a class="btn btn-success" href="/product">了解产品</a>
		</div>
	</div>

	<div class="base text-center col-md-12">
		<h3>基地建设</h3>
		<div class="separate col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1"></div>
		<div class="introduce col-md-6 col-md-offset-3 col-xs-12">
			<p>公司产业园区建有冲压、焊装、涂装、总装全自动汽车四大生产工艺车间，产品60%以上的部件已实现自制，</p>
			<p>已具备了年产30万辆纯电动汽车的生产能力。</p>
		</div>
	</div>
	<div class="swiper-container container base-slideshow">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="javascript:void(0)"><img src="/images/base-construction1.jpg"></a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)"><img src="/images/base-construction2.jpg"></a>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)"><img src="/images/base-construction3.jpg"></a>
			</div>
		</div>
		
		<div class="swiper-pagination"></div>

		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

	</div>


	<div class="service text-center col-md-12">
		<h3>服务支持</h3>
		<div class="separate col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1"></div>
		<div class="introduce col-md-6 col-md-offset-3 col-xs-12">
			<p>集团汽车秉承“快速、及时、**”的服务理念服务于终端用户，拥有完善的售后服务体系及强大的售后服务团队</p>
			<p>让消费者做到用车无忧。并推出了“集团管家、九免服务”</p>
		</div>
	</div>

	<div class="service-img">
		<ul class="container img">
			<li><a href="javascript:void(0)"><img src="/images/service1.jpg" class="col-md-4 col-xs-12"></a></li>
			<li><a href="javascript:void(0)"><img src="/images/service2.jpg" class="col-md-4 col-xs-12"></a></li>
			<li><a href="javascript:void(0)"><img src="/images/service3.jpg" class="col-md-4 col-xs-12"></a></li>
		</ul>
		<!-- <ul class="container tip">
			<li class="col-md-4"><a href="javascript:void(0)">如何从发动机的机油颜色判断机油是否正常？</a></li>
			<li class="col-md-4"><a href="javascript:void(0)">如何从发动机的机油颜色判断机油是否正常？</a></li>
			<li class="col-md-4 aa"><a href="javascript:void(0)">如何从发动机的机油颜色判断机油是否正常？</a></li>
		</ul> -->
	</div>

	<%- include("footer") %>
</body>
</html>