<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/product.css">
</head>
<body>
	<%- include("header") %>
	
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header col-md-4">
				<button type="button" class="navbar-toggle collapsed navigation" data-toggle="collapse" data-target="#nav2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<!-- <div class="logo navbar-brand">
					<img src="images/logo.png">
					<div>
						<h3>新能源汽车</h3>
						<span>New energy cars</span>
					</div>
				</div> -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="nav2 collapse navbar-collapse col-md-8" id="nav2">
				<ul class="menu nav navbar-nav text-center">
		   	  		<li class="img-circle"><a href="javascript:void(0)">商用系列</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">时尚系列</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">智能系列</a></li>
		   		</ul>
			</div>
		</div>
	</div>

	<div class="container product">
		<ul>
			<li class="col-md-4 col-xs-12">
				<a href="javascript:void(0)"><img src="images/car1.jpg" class="col-md-12 col-xs-12"></a>
				<h4><strong>智能系列—小王子/E60</strong></h4>
				<p>整车造型动感凌厉、沉稳踏实兼具动感时尚，无论在性能还是产品品质方面都领先于其他同类车型，从容、成熟、</p>
			</li>
		</ul>
		<ul>
			<li class="col-md-4 col-xs-12 col-xs-12">
				<a href="javascript:void(0)"><img src="images/car2.jpg" class="col-md-12 col-xs-12"></a>
				<h4><strong>智能系列—小王子/E60</strong></h4>
				<p>整车造型动感凌厉、沉稳踏实兼具动感时尚，无论在性能还是产品品质方面都领先于其他同类车型，从容、成熟、</p>
			</li>
		</ul>
		<ul>
			<li class="col-md-4 col-xs-12">
				<a href="javascript:void(0)"><img src="images/car3.jpg" class="col-md-12 col-xs-12"></a>
				<h4><strong>智能系列—小王子/E60</strong></h4>
				<p>整车造型动感凌厉、沉稳踏实兼具动感时尚，无论在性能还是产品品质方面都领先于其他同类车型，从容、成熟、</p>
			</li>
		</ul>
		<ul>
			<li class="col-md-4">
				<a href="javascript:void(0)"><img src="images/car4.jpg" class="col-md-12 col-xs-12"></a>
				<h4><strong>智能系列—小王子/E60</strong></h4>
				<p>整车造型动感凌厉、沉稳踏实兼具动感时尚，无论在性能还是产品品质方面都领先于其他同类车型，从容、成熟、</p>
			</li>
		</ul>
		<ul>
			<li class="col-md-4 col-xs-12">
				<a href="javascript:void(0)"><img src="images/car5.jpg" class="col-md-12 col-xs-12"></a>
				<h4><strong>智能系列—小王子/E60</strong></h4>
				<p>整车造型动感凌厉、沉稳踏实兼具动感时尚，无论在性能还是产品品质方面都领先于其他同类车型，从容、成熟、</p>
			</li>
		</ul>
		<ul>
			<li class="col-md-4 col-xs-12">
				<a href="javascript:void(0)"><img src="images/car6.jpg" class="col-md-12 col-xs-12"></a>
				<h4><strong>智能系列—小王子/E60</strong></h4>
				<p>整车造型动感凌厉、沉稳踏实兼具动感时尚，无论在性能还是产品品质方面都领先于其他同类车型，从容、成熟、</p>
			</li>
		</ul>
		<div class="pagination">
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<%- include("footer") %>
</body>
</html>