<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/service.css">
</head>
<body>
	<%- include("header") %>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header col-md-4">
				<button type="button" class="navbar-toggle collapsed navigation" data-toggle="collapse" data-target="#nav2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<!-- <div class="logo navbar-brand">
					<img src="images/logo.png">
					<div>
						<h3>新能源汽车</h3>
						<span>New energy cars</span>
					</div>
				</div> -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="nav2 collapse navbar-collapse col-md-8" id="nav2">
				<ul class="menu nav navbar-nav text-center">
		   	  		<li class="img-circle"><a href="javascript:void(0)">售后服务</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">养护知识</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">服务理念</a></li>
		   	  		<li class="img-circle"><a href="javascript:void(0)">预约试驾</a></li>
		   		</ul>
			</div>
		</div>
	</div>

	<div class="container service">
		<div class="service-objective">
			<h3>售后服务After-sale service</h3>
			
				<div class="col-md-6 col-xs-12">
					<p>集团汽车秉承“快速、及时、**”的服务理念服务于终端用户，拥有完善的售后服务体系及强大的售后服务团队，让消费者做到用车无忧。并推出了“集团管家、九免服务”</p>
					<h4>all-care贴心服务到家</h4>
					<p>集团服务强调All-care服务理念，以“专业、快捷、安心、信赖”四大承诺为载体，让您购车无忧。</p>
					<p>集团专业售后服务团队，以真诚的态度、真心想法和真挚的	感情，为集团车主提供专业的咨询、购车、保养、维修、</p>
					<p>售后跟进等全方位服务，让每个人都能感受到集团金质服务的温暖。</p>
				</div>
				
			
				<div class="col-md-6 col-xs-12">
					<img src="images/service-map.jpeg" class="img-t">
				</div>
			
		</div>
	</div>
	

	<div class="container conservation">
		<h3>养护知识Conservation knowledge</h3>
		
		<div class="col-md-4 col-xs-12">
			<a href="javascript:void(0)"><img src="images/news-active1.jpg" class="col-md-12 col-xs-12"></a>
			<p><strong>如何从发动机的机油颜色判断机油是否正常？</strong></p>
			<p>2017-07-20</p>
			<p>发动机机油使用一段时间后，颜色会逐渐变黑，其他颜色都是不正常的现象。促使机油发黑的原因主要有四项：1</p>
		</div>
		
		
		<div class="col-md-4 col-xs-12">
			<a href="javascript:void(0)"><img src="images/news-active2.jpg" class="col-md-12 col-xs-12"></a>
			<p><strong>如何从发动机的机油颜色判断机油是否正常？</strong></p>
			<p>2017-07-20</p>
			<p>发动机机油使用一段时间后，颜色会逐渐变黑，其他颜色都是不正常的现象。促使机油发黑的原因主要有四项：1</p>
		</div>
		
		
		<div class="col-md-4 col-xs-12">
			<a href="javascript:void(0)"><img src="images/news-active3.jpg" class="col-md-12 col-xs-12"></a>
			<p><strong>如何从发动机的机油颜色判断机油是否正常？</strong></p>
			<p>2017-07-20</p>
			<p>发动机机油使用一段时间后，颜色会逐渐变黑，其他颜色都是不正常的现象。促使机油发黑的原因主要有四项：1</p>
		</div>
	</div>	

	<div class="container mp">
		<img src="images/service_mp.png" class="col-md-12 col-xs-12">
		
		
	</div>

	<%- include("footer") %>
</body>
</html>